/foul-language-filter/.phpunit.cache
/foul-language-filter/node_modules
/foul-language-filter/public/build
/foul-language-filter/public/hot
/foul-language-filter/public/storage
/foul-language-filter/storage/*.key
/foul-language-filter/vendor
/foul-language-filter/.env
/foul-language-filter/.env.backup
/foul-language-filter/.env.production
/foul-language-filter/.phpunit.result.cache
/foul-language-filter/Homestead.json
/foul-language-filter/Homestead.yaml
/foul-language-filter/auth.json
/foul-language-filter/npm-debug.log
/foul-language-filter/yarn-error.log
/.fleet
/.idea
/.vscode